.education {
    margin-top:2%;
    padding-left: 13%;
    padding-right: 13%;
    margin-left: auto;
    margin-right: auto;
}

.education-item {
    padding-bottom: 10%;
    display: flex;
}

.education-text {
    padding-left: 5%;
    margin-bottom: 0%;
}


