.experience {
    margin-top:2%;
    padding-left: 13%;
    padding-right: 13%;
}

.job-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
}

.job-text {
    padding-left: 2%;
    width: 400px;
}

h3 {
    margin-bottom: 1%;
}