:root {
  --primary: #132e5f;
  --secondary: white;
  --tertiary: #cf6c48;
}

body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar */
.navbar{
  background-color: var(--tertiary);
  overflow: hidden;
  text-align: center;
  height: 40px;
}

.navbar a {
  color: var(--secondary);
  vertical-align: middle;
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* colors from https://www.ft.com/__origami/service/build/v3/demo?component=o-colors%406.4.2&demo=core-primary-palette&system_code=origami-repo-data&brand=core */

.navbar a.active {
  background-color: var(--primary);
}
/* home */
.content {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 1%;
}

h2 {
  margin-top: 0%;
  text-align: center;
}

/* about */
.aboutme {
  display: flex;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 5%;
}

img{
  border-style: solid;
  border-width: 10px;
  color: var(--tertiary)
}

.about-text {
  padding-left: 5%;
  font-size: larger;
  text-align: left;
}

/* contact */

.contact {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
.contact-links a{
  color: var(--secondary);
  font-size: large;
  padding-left: 10px;
}

/* about list */
p a{
  color: var(--tertiary)
}

ul li {
  list-style: none;
  padding-left: 0;
  padding-bottom: 2%;
}